<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <p>
        <mat-form-field class="example-full-width" hintLabel="Only Latin letters" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput name="email" [(ngModel)]="user.email" #emailVar="ngModel" appEmailValidator required>
            <mat-error *ngIf="emailVar.hasError('pattern') && emailVar.tought">
                Email should contain only Latin letters
            </mat-error>
            <mat-error *ngIf="emailVar.hasError('required') && emailVar.tought">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput #input [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="user.password"
            #passwordVar="ngModel" required>
            <mat-error *ngIf="passwordVar.hasError('required') && passwordVar.tought">
                Password is <strong>required</strong>
            </mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </p>
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
        Login
    </button>
</form>

<p>If you don't have an account you can <a href="#">Registration</a></p>