<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Title</mat-label>
            <input type="text" matInput formControlName="titleFormControl">
            <mat-error *ngIf="courseForm.controls['titleFormControl'].hasError('required')">
                Title is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="descriptionFormControl"></textarea>
            <mat-error *ngIf="courseForm.controls['descriptionFormControl'].hasError('required')">
                Description is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Creation date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="creationDateFormControl">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Duration</mat-label>
            <textarea matInput formControlName="durationFormControl"></textarea>
            <mat-error *ngIf="courseForm.controls['durationFormControl'].hasError('required')">
                Duration is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <label>Duration 00:00 hours</label>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>List of authors</mat-label>
            <mat-select multiple formControlName="allAuthorsFormControl">
                <mat-option *ngFor="let author of addedAuthors" [value]="author.id">
                    {{author.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <app-button buttonImgName="chevron_right"></app-button> -->
        <button mat-raised-button color="primary" (click)="onMoveRight()">
            <mat-icon aria-hidden="false">chevron_right</mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="onMoveLeft()">
            <mat-icon aria-hidden="false">chevron_left</mat-icon>
        </button>
        <!-- <app-button buttonImgName="chevron_left"></app-button> -->
        <mat-form-field appearance="fill">
            <mat-select multiple formControlName="authorsFormControl">
                <mat-option *ngFor="let author of removedAuthors" [value]="author.id">
                    {{author.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <button mat-raised-button color="primary" type="submit" [disabled]="!courseForm.valid">
        Create course
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!courseForm.valid">
        Cancel
    </button>
</form>