<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Title</mat-label>
            <input type="text" matInput formControlName="titleFormControl">
            <mat-error *ngIf="courseForm.controls['titleFormControl'].hasError('required') && courseForm.controls['titleFormControl'].touched">
                Title is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="descriptionFormControl"></textarea>
            <mat-error *ngIf="courseForm.controls['descriptionFormControl'].hasError('required') && courseForm.controls['descriptionFormControl'].touched">
                Description is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Creation date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="creationDateFormControl">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Add authors</mat-label>
            <input type="text" matInput formControlName="newAuthorsFormControl">
            <mat-error *ngIf="courseForm.controls['newAuthorsFormControl'].hasError('pattern') && courseForm.controls['newAuthorsFormControl'].touched">
                Authors should contain only <strong>Latin letters</strong>
            </mat-error>
        </mat-form-field>
        <button mat-icon-button color="primary" aria-label="Add new author" (click)="addNewAuthor()"
            matTooltip="Add new author" [disabled]="courseForm.controls['newAuthorsFormControl'].hasError('pattern')">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </p>
    <section formArrayName="authorsFormControl">
        <article *ngFor="let item of courseForm.get('authorsFormControl')['controls']; let i = index">
            <p>{{ item.value.authorName }}</p>
            <button class="float-left" mat-icon-button color="primary" aria-label="Remove/clear"
                (click)="deleteAuthor(i)" matTooltip="Delete author">
                <mat-icon>highlight_off</mat-icon>
            </button>
        </article>
    </section>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Duration</mat-label>
            <input type="text" matInput formControlName="durationFormControl" />
            <mat-error *ngIf="courseForm.controls['durationFormControl'].hasError('required') && courseForm.controls['durationFormControl'].touched">
                Duration is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <label>Duration: {{ courseForm.controls['durationFormControl'].value | duration}}</label>
    </p>

    <button mat-raised-button color="primary" type="submit" [disabled]="!courseForm.valid">
        Create course
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!courseForm.valid">
        Cancel
    </button>
</form>